.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}
.intro {
  text-align: center;
  font-size: 25px;
 
   
      
            
  background: url('./assets/casa.png')fixed top center no-repeat;
  background-repeat: no-repeat;
  
  background-size: cover;
  padding: 25%;
  


}
.texto{
  
  
  
            

  
}
.imagen{
  width: 100%;
		height: 50%;
		text-align: center;
    
		
}
nav {
  background: #9B0A0F !important;
  text-align: center;
  padding: 5px;
  text-shadow: none !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
nav a {
  color: white;
  text-decoration: none; 
  font-size: 2rem;
  padding: 5px 15px;
}




